.add-todo-page h1 {
  color: #cdbaf2;
}
.add-todo-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-todo-page .form {
  color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: hotpink;
  border-radius: 20px;
  padding-block: 2rem;
  max-width: 500px;
  /* From https://css.glass */
  background: rgba(40, 36, 33, 0.73);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(40, 36, 33, 0.17);
}
.add-todo-page .form .input-wrapper {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
}

.add-todo-page .form .input-wrapper input {
  padding: 1rem 1.3rem;
}

.add-todo-page .form .button-wrapper {
  padding-inline: 1rem;
}

.add-todo-page .form .button-wrapper button {
  background-color: #12255b;
  border: none;
  border: 4px solid #12255b;
  border-radius: 5px;
  padding-block: 0.4rem;
  color: whitesmoke;
  width: 50%;
}

.add-todo-page .form .button-wrapper button:hover {
  border: 4px solid #12255b;
  background-color: whitesmoke;
  color: #12255b;
}
